.Home__posts__title___-f2Ir {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px; }

.Home__posts__item___1kZa7 {
  box-shadow: 7px 7px 50px 0px rgba(50, 50, 50, 0.25);
  padding: 20px;
  margin-bottom: 20px; }

.Home__posts__item-title___qRx_8 {
  font-weight: 700;
  font-size: 20px;
  max-width: 80%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 20px; }
  .Home__posts__item-title___qRx_8:first-letter {
    text-transform: uppercase; }

.Home__posts__item-link___1iBUa {
  display: inline-block; }
  .Home__posts__item-link___1iBUa:hover a:after {
    width: 100%;
    border-radius: 0; }
  .Home__posts__item-link___1iBUa a {
    position: relative;
    z-index: 0;
    display: inline-block;
    border: 1px solid #000;
    margin: 0;
    padding: 10px 22px;
    transition: color .3s ease-in-out;
    font-size: 15px;
    text-decoration: none;
    color: grey;
    letter-spacing: 0.88px; }
    .Home__posts__item-link___1iBUa a:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      background-color: black;
      width: 0;
      height: 100%;
      border-radius: 0 50px 50px 0;
      transition: all .3s ease-in-out; }

.Home__posts__more___3cudH button {
  display: block;
  margin: 0 auto;
  box-shadow: none;
  background: #261f61;
  font-size: 15px;
  letter-spacing: 0.05em;
  color: #fff;
  font-weight: 400;
  padding: 15px 30px;
  position: relative;
  border: none;
  outline: none;
  cursor: pointer; }
  .Home__posts__more___3cudH button:hover:before {
    opacity: 0.6;
    transform: scaleX(1); }
  .Home__posts__more___3cudH button:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    opacity: 0;
    transition: opacity 0.7s, transform 0.7s;
    transform: scaleX(0); }
.User__user___2apz3 {
  text-align: center;
  border: 2px dashed #c1b9b9;
  padding: 20px; }
  .User__user__name___2nFZh {
    font-size: 30px;
    margin-bottom: 20px; }
  .User__user__email___2t71w {
    margin-bottom: 20px; }
    .User__user__email___2t71w a {
      font-size: 20px; }
  .User__user__website___1zx4q a {
    font-size: 18px; }
.Post__post___39xPL {
  margin-top: 20px;
  padding: 25px;
  box-shadow: 7px 7px 50px 0px rgba(50, 50, 50, 0.25); }
  .Post__post__title___1mcNZ {
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    letter-spacing: 0.05em; }
    .Post__post__title___1mcNZ:first-letter {
      text-transform: uppercase; }
  .Post__post__desc___1bB7S {
    font-style: italic;
    font-size: 20px;
    letter-spacing: 0.03em;
    line-height: 1.5;
    color: darkgray;
    text-indent: 1em;
    margin-bottom: 20px; }
    .Post__post__desc___1bB7S:first-letter {
      text-transform: uppercase; }
  .Post__post__user___2-SJd {
    display: inline-block; }
.base__container___2KFVG {
  max-width: 80%;
  margin: 0 auto;
  padding: 25px;
  font-family: "Open-sans", sans-serif; }
.button__button-det___U1u8M:hover a:after {
  width: 100%;
  border-radius: 0; }

.button__button-det___U1u8M a {
  position: relative;
  z-index: 0;
  display: inline-block;
  border: 1px solid #000;
  margin: 0;
  padding: 10px 22px;
  transition: color .3s ease-in-out;
  font-size: 15px;
  text-decoration: none;
  color: grey;
  letter-spacing: 0.88px; }
  .button__button-det___U1u8M a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    background-color: black;
    width: 0;
    height: 100%;
    border-radius: 0 50px 50px 0;
    transition: all .3s ease-in-out; }

.button__button-dec___2k3LE {
  line-height: 1.28571;
  color: #625140;
  text-decoration: none;
  position: relative;
  display: inline-block; }
  .button__button-dec___2k3LE:before, .button__button-dec___2k3LE:after {
    content: "";
    position: absolute;
    height: 1px;
    bottom: 1px;
    background-color: #b5afaa; }
  .button__button-dec___2k3LE:hover:before {
    width: 100%; }
  .button__button-dec___2k3LE:hover:after {
    width: 0; }
  .button__button-dec___2k3LE:after {
    width: 100%;
    transition: width 0.5s;
    right: 0; }
  .button__button-dec___2k3LE:before {
    width: 0;
    left: 0;
    transition: width 1s; }

/*# sourceMappingURL=main.6cb43022.css.map*/